body {
  background-color: #FFF2F2;
}

h1 {
  color: #F47C7C;
}

h3 {
  color: #F47C7C;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
